.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* Stack vertically on narrow screens (below 800px) */
@media (max-width: 800px) {
  .app-container {
    flex-direction: column;
  }
}
